@import url(https://fonts.googleapis.com/css?family=Open+Sans:wght:@400,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:wght:@400,600,700,900);

:root {
  /* Primary */
  --clr-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);

  /* Accent */
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-moderate-cyan: hsl(170, 45%, 43%);

  /* Neutral */
  --clr-light-grayish-blue: hsl(240, 75%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);

  /*
#### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700
*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  width: 60%;
  background-color: var(--clr-bright-blue);
  color: white;
  padding: 0.8rem 0.4rem;
  border: 0;
  outline: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(83, 82, 82);

  &:hover {
    cursor: pointer;
  }
}

body {
  font-family: "Open Sans", serif;
  padding: 2rem 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 4.5rem;
}

.main-section {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > img {
    width: 600px;
  }
}

.main-section-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Raleway", serif;
  color: var(--clr-dark-blue);

  h1 {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }

  p {
    margin-top: -1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-desaturated-blue);
  }
}

.main-input {
  display: flex;
  gap: 1rem;
  width: 90%;

  input {
    padding: 0.8rem 0.4rem;
    padding-left: 1rem;
    width: 100%;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 1px black;

    &::placeholder {
      color: var(--clr-light-gray);
    }
  }
}

.features {
  margin-top: 10rem;
  display: flex;
  /* background: url("./images//bg-curve-desktop.svg") no-repeat center; */
  background-size: 100vw 100vh;
  padding-bottom: 10rem;

  & > img {
    width: 500px;
  }
}

.features-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    line-height: 3.5rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.features-description {
  width: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-desaturated-blue);
}

.fylo-link {
  width: fit-content;
  padding-bottom: 3px;
  color: var(--clr-moderate-cyan);
  border-bottom: 1.5px solid var(--clr-moderate-cyan);
  display: flex;
  gap: 5px;
  align-items: center;
}

.testimonial {
  margin-top: 30px;
  max-width: 350px;
  display: flex;
  line-height: 1.2rem;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
  background-color: whitesmoke;
  padding: 1.5rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px var(--clr-light-gray);
}

.user {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.user-designation {
  font-size: 0.8rem;

  p {
    font-size: 0.6rem;
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  padding: 5rem 0;
  background-color: var(--clr-desaturated-blue);
  color: white;

  h2 {
    font-size: 2rem;
  }
}

.contact-description {
  margin-top: 1rem;
  color: rgb(255, 255, 255, 0.8);
}

.contact-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    border: 0;

    &::placeholder {
      color: var(--clr-light-gray);
    }
  }
}
