@import url(https://fonts.googleapis.com/css?family=Open+Sans:wght:@400,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:wght:@400,600,700,900);

:root {
  /* Primary */
  --clr-dark-blue: hsl(243, 87%, 12%);
  --clr-desaturated-blue: hsl(238, 22%, 44%);

  /* Accent */
  --clr-bright-blue: hsl(224, 93%, 58%);
  --clr-moderate-cyan: hsl(170, 45%, 43%);

  /* Neutral */
  --clr-light-grayish-blue: hsl(240, 75%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

i {
  color: white;
  border-radius: 100%;
  padding: 15px;
  border: 2px solid white;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

button {
  width: 200px;
  background-color: var(--clr-bright-blue);
  color: white;
  padding: 0.8rem 0.4rem;
  border: 0;
  outline: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(83, 82, 82);

  &:hover {
    cursor: pointer;
  }
}

.container {
  padding: 2rem 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .container {
    padding: 2rem;
  }
}

body {
  font-family: "Open Sans", serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 4.5rem;
}

@media screen and (max-width: 600px) {
  .navlinks {
    gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}

@media screen and (max-width: 350px) {
  .navlinks {
    display: none;
  }
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > img {
    width: 50%;
    max-width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .main-section {
    flex-direction: column-reverse;
    gap: 50px;
    & > img {
      width: 80%;
    }
  }
}

.main-section-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Raleway", serif;
  color: var(--clr-dark-blue);

  h1 {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }

  p {
    margin-top: -1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--clr-desaturated-blue);
  }
}

.main-input {
  display: flex;
  gap: 1rem;
  width: 90%;

  input {
    padding: 0.8rem 0.4rem;
    padding-left: 1rem;
    width: 100%;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-shadow: 0px 0px 1px black;

    &::placeholder {
      color: var(--clr-light-gray);
    }
  }
}

.features {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  /* background: url("./images//bg-curve-desktop.svg") no-repeat center; */
  background-size: 100vw 100vh;
  padding-bottom: 10rem;

  & > img {
    width: 50%;
    height: 50%;
    max-width: 600px;
  }
}

.features-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    line-height: 3.5rem;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.features-description {
  width: 75%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-desaturated-blue);
}

.fylo-link {
  width: fit-content;
  padding-bottom: 3px;
  color: var(--clr-moderate-cyan);
  border-bottom: 1.5px solid var(--clr-moderate-cyan);
  display: flex;
  gap: 5px;
  align-items: center;
}

.testimonial {
  margin-top: 30px;
  max-width: 350px;
  display: flex;
  line-height: 1.2rem;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
  background-color: whitesmoke;
  padding: 1.5rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px -2px var(--clr-light-gray);
}

.user {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .features {
    flex-direction: column-reverse;

    & > img {
      width: 80%;
    }
  }

  .features-description {
    width: 100%;
  }

  .testimonial {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .user {
    justify-content: center;
    margin-top: 20px;
  }
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.user-designation {
  font-size: 0.8rem;

  p {
    font-size: 0.6rem;
  }
}

.contact-bg {
  background-color: var(--clr-desaturated-blue);
}

.contact {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  padding-block: 5rem;
  color: white;

  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    gap: 1rem;
  }
}

.contact-description {
  margin-top: 1rem;
  color: rgb(255, 255, 255, 0.8);
}

.contact-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    border: 0;

    &::placeholder {
      color: var(--clr-light-gray);
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    flex-direction: column;
  }

  .contact-right {
    margin-top: 50px;
    align-items: center;
  }
}

.footer-bg {
  background-color: var(--clr-dark-blue);
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 100%;
  padding-block: 6rem;
  color: rgba(255, 255, 255, 0.733);
}

.footer-contact-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-links {
  margin-top: 90px;
  margin-left: -170px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  li {
    cursor: pointer;
    &:hover {
      color: var(--clr-bright-blue);
    }
  }
}

.facebook {
  height: 50px;
  width: 50px;
  padding-left: 18px;
}

.social-links {
  &:hover {
    background-color: var(--clr-bright-blue);
  }
}

@media screen and (max-width: 900px) {
  .footer-links {
    margin-left: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .social-links {
    margin-top: 40px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 332px) {
  .footer-links {
    grid-template-columns: repeat(1, 1fr);
  }
}

.bg-red {
  background-color: red;
}
